
@import "admin/colors";

$font-family-serif: "Open Sans", Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;


.navbar-default .navbar-admin, .navbar-default .navbar-admin:hover {
  background-color:#b53c3c;
}


.admin-page {
  color: $grey-text;

  .odd {
    background: rgba(255, 255, 255, 0.2);
  }

  .even {

  }
}

.admin-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/***********************
 * CLUE/LEVELS MANAGER *
 ***********************/
.clue-levels-list-container {
  display: flex;
  flex-direction: column;
}

.clue-levels-level {
  display: flex;
}

.up-and-down {
  width: 100px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  background: #33353E;
  display: flex;
  align-items: center;
  font-size:24px;
  justify-content: space-between;
}

.level-level {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 10px;
  background: #33353E;
}

.level-description {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 10px;
  background: #33353E;
  flex: 1;
}

.level-actions {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  background: #33353E;
}

/**************
 * VIDEO GAME *
 **************/
#video-game-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
}

.switch-group {
	display: flex;
	.switch-off.btn{
		position: static !important;
	}

	.btn{
		position: static !important;
	}

	span{
		order: 2;

		&:first-child{
			order: 0;
		}

		&:last-child{
			order: 1;
		}
	}

}
