
@import "colors";

.admin-list {
	 display: table;
	 width: 100%;
	 margin-top: 1em;
}

.admin-list-header {
  display: table-row-group;
	.admin-list-header-row {
		display: table-row;
		color: #ffffff;

		div {
			display: table-cell;
			background: $grey-text;
			padding: 5px;
			color: #fff;

			&.admin-list-header-actions {
				padding: 5px;
			}
		}
	}
}

.admin-list-body {
	display: table-row-group;
}

.admin-list-row {
	display: table-row;

	&:nth-child(even) {
		background-color: $even-color;
	}

	&:nth-child(odd) {
		background-color: $odd-color;
	}

	&:hover {
		background-color: $row-hover-color;
	}
}

.admin-list-cell {
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}
