//$main_color: #ff871c;
$main_color: #F89629;
$secondary_color: #68A2D0;
$ternary_color: #723C90;
$quartery_color: #9e0000;
$fivery_color: #68A2D0;
$blue: #68A2D0;
$red: #9e0000;
$dark_blue: #4B7CA5;
$green: #76c675;
